/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

/* 颜色变量 */
$dominant-color: #ffcc00;
$orange-color: #ffb000;

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;
/* 行为相关颜色 */
$color-primary: #f5a654;
$color-success: #4cd964;
$color-warning: #FAB714;
$color-error: #D12E32;
/* 主题色 */
$theme-fir: #f5a654;
$theme-sec: #4cd964;
$theme-thir: #FAB714;
$theme-fou: #D12E32;
$theme-fiv: #007aff;
/* 文字基本颜色 */
$uni-text-color:#333;//基本色
$uni-text-color-inverse:#fff;//反色
$uni-text-color-grey:#999;//辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;
/* 文字基本颜色 */
$text-color-base: #5A5B5C; //基本色
$text-color-assist: #919293; //辅助色
$text-color-black: #3B3C3E; //黑
$text-color-grey: #878889; //灰
$text-color-white: #ffffff; //白

/* 背景颜色 */
$uni-bg-color:#ffffff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1;//点击状态颜色
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色
/* 背景颜色 */
$bg-color: #F1F8FA;
$bg-color-grey: #F5F5F5;
$bg-color-primary: #E8EACF;
/* 边框颜色 */
$uni-border-color:#c8c7cc;
/* 边框颜色 */
$border-color:#e2e2e2;
/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm:24upx;
$uni-font-size-base:28upx;
$uni-font-size-lg:32upx;

/* 文字尺寸 */
$font-size-sm:24rpx;
$font-size-base:28rpx;
$font-size-lg:32rpx;

/* 图片尺寸 */
$uni-img-size-sm:40upx;
$uni-img-size-base:52upx;
$uni-img-size-lg:80upx;

/* Border Radius */
$uni-border-radius-sm: 4upx;
$uni-border-radius-base: 6upx;
$uni-border-radius-lg: 12upx;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-sm: 10px;
$uni-spacing-row-base: 20upx;
$uni-spacing-row-lg: 30upx;

/* 垂直间距 */
$uni-spacing-col-sm: 8upx;
$uni-spacing-col-base: 16upx;
$uni-spacing-col-lg: 24upx;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: #2C405A; // 文章标题颜色
$uni-font-size-title:40upx;
$uni-color-subtitle: #555555; // 二级标题颜色
$uni-font-size-subtitle:36upx;
$uni-color-paragraph: #3F536E; // 文章段落颜色
$uni-font-size-paragraph:30upx;

$box-shadow: 0 20rpx 20rpx -20rpx rgba($color: #333, $alpha: 0.1);

/* start--主题色--start */
$themes: (

  default_theme: (
    font_color: #FFCC00,
    background_color: #FFCC00,
    border_color: #FFCC00,
    opacify_background_0: rgba(255, 204, 0, 0.09),
	text_color:#ffffff
  ),red_theme: (
    font_color: #e60b30,
    background_color: #e60b30,
    border_color: #e60b30,
    opacify_background_0: rgba(230, 11, 48, 0.05),
	text_color:#ffffff
  ),
  purple_theme: (
    font_color: #8f2df3,
    background_color: #8f2df3,
    border_color: #8f2df3,
    opacify_background_0: rgba(143, 45, 243, 0.05),
	text_color:#ffffff
  ),
  blue_theme: (
    font_color: #33a7ff,
    background_color: #33a7ff,
    border_color: #33a7ff,
    opacify_background_0: rgba(51, 167, 255, 0.05),
	text_color:#ffffff
  ),
  green_theme: (
    font_color: #1fc551,
    background_color: #1fc551,
    border_color: #1fc551,
    opacify_background_0: rgba(31, 197, 81, 0.05),
	text_color:#ffffff
  ),
  orange_theme: (
    font_color: #ff7f00,
    background_color: #ff7f00,
    border_color: #ff7f00,
    opacify_background_0: rgba(255, 127, 0, 0.05),
	text_color:#ffffff
  ),
  golden_theme: (
    font_color: #caa45a,
    background_color: #caa45a,
    border_color: #caa45a,
    opacify_background_0: rgba(202, 164, 90, 0.05),
	text_color:#ffffff
  )
);
//遍历主题map
@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    [data-theme='#{$theme-name}'] & {
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

//获取背景颜色
@mixin background_color($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

//获取渐变背景颜色
@mixin background_linear($color,$color1, $deg, $min, $max) {
  @include themeify {
    background: linear-gradient($deg, themed($color) $min, themed($color1) $max) !important;
  }
}

//获取字体颜色
@mixin font_color($color) {
  @include themeify {
    color: themed($color) !important;
  }
}
//获取主题背景下的字体颜色
@mixin text_color($color) {
  @include themeify {
    color: themed($color) !important;
  }
}

//获取边框颜色
@mixin border_color($color) {
  @include themeify {
    border-color: themed($color) !important;
  }
}
/* end--主题色--end */
